.DS_Store
.bsp
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# VSCode specific
.bloop/
.metals/
.vscode/
metals.sbt

# publication project
nodep

# Jupyter temp files
**/.ipynb_checkpoints/

# visualizer
/utils/visualizer/qviz.egg-info
*.iml
__pycache__
